<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      EVA
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines class="chat-list" text-wrap>
    <ion-item #addMessage class="chat-item">
     <!--  <ion-avatar item-left *ngIf="message.sender == 'api'">
        <img src="assets/apiai.png" alt="">
      </ion-avatar>
      <ion-avatar item-right *ngIf="message.sender == 'me'">
        <img src="assets/ionic.png" alt="">
      </ion-avatar>
      <div *ngIf="message.sender == 'api'" class="bubble me">
        {{message.text}}
      </div>
      <div *ngIf="message.sender == 'me'" class="bubble you">
        {{message.text}}
      </div> -->
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input type="text" #input placeholder="Your Message Here.." [(ngModel)]="text"></ion-input>
      <button ion-button icon-only item-right clear (click)="sendText();input.setFocus()">
        <ion-icon name="send"></ion-icon>
      </button>
      <button ion-button icon-only item-right clear (click)="sendVoice()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>