<!--<div class="ion-select-box custom" >
   <ion-select name="paymentMethod" class="payment-method" id="paymentMethodion-select">
     <ion-option value="1" ion-selected="1">Credit/Debit card</ion-option>
      <ion-option value="2">Netbanking</ion-option>
    </ion-select></div>-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Link Your Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="screen=='mode'">

 
    <!--<ion-label>Mode</ion-label>
    <ion-select  interface="action-sheet" style="    min-width: 60%;" [placeholder]='mode' [(ngModel)]="mode">

      <ion-option value="cdcard">Credit/Debit Card</ion-option>
      <ion-option value="netbanking">Net Banking</ion-option>
    </ion-select>-->
    
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col (click)="netbanking()" class="card" >
            <div style=" text-align: -webkit-center;  display: grid;  ">
              <img style=" width: 40px; height: 40px; " src="assets/imgs/bank.png" />
              <strong > Bank Wire </strong>
            </div>
          </ion-col>
          <ion-col  (click)="cdcard()" class="card" >
              <div style=" text-align: -webkit-center;  display: grid;  ">
              <img style=" width: 40px; height: 40px; " src="assets/imgs/card.png" />
              <strong > Credit/Debit Card </strong>
              </div>  
          </ion-col>
        
        </ion-row>
        <ion-row>
            <ion-col class="card" >
                <div style=" text-align: -webkit-center;  display: grid;  ">
                <img style=" width: 40px; height: 40px; " src="assets/imgs/paypal.png" />
                <strong > Paypal </strong>
                </div>
            </ion-col>
            <ion-col class="card" >
              <div style=" text-align: -webkit-center;  display: grid;  ">
              <img style=" width: 40px; height: 40px; " src="assets/imgs/applepay.png" />
              <strong> Apple Pay  </strong>
              </div>
          </ion-col>
          <ion-col class="card" >
              <div style=" text-align: -webkit-center;  display: grid;  ">
              <img style=" width: 40px; height: 40px; " src="assets/imgs/gpay.png" />
              <strong > Google Pay  </strong>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      </ion-item>

  <ion-item *ngIf="mode=='cdcard'"> 
    <ion-input (ionChange)=cardtype($event);   type="number" placeholder="CARD NUMBER">
    </ion-input>
    
    <img style="width: 32px;height: 20px;" [ngClass]="{VISA: visa,AMEX: amex,MASTERCARD: mastercard,MAESTRO: maestro }" id='creditcard' clear item-right class="card-image"  />
  </ion-item>
  <ion-item *ngIf="mode=='cdcard'">

    <ion-select interface="action-sheet" [placeholder]='"Month"' [(ngModel)]="month">

      <ion-option value="01">01</ion-option>
      <ion-option value="02">02</ion-option>
      <ion-option value="03">03</ion-option>
      <ion-option value="04">04</ion-option>
      <ion-option value="05">05</ion-option>
      <ion-option value="06">06</ion-option>
      <ion-option value="07">07</ion-option>
      <ion-option value="08">08</ion-option>
      <ion-option value="09">09</ion-option>
      <ion-option value="10">10</ion-option>
      <ion-option value="11">11</ion-option>
      <ion-option value="12">12</ion-option>
    </ion-select>


    <ion-select interface="action-sheet" [placeholder]='"Year"' [(ngModel)]="year">
      <ion-option value="2015">2015</ion-option>
      <ion-option value="2016">2016</ion-option>
      <ion-option value="2017">2017</ion-option>
      <ion-option value="2018">2018</ion-option>
      <ion-option value="2019">2019</ion-option>
      <ion-option value="2020">2020</ion-option>
      <ion-option value="2021">2021</ion-option>
      <ion-option value="2022">2022</ion-option>
      <ion-option value="2023">2023</ion-option>
      <ion-option value="2024">2024</ion-option>
      <ion-option value="2025">2025</ion-option>
      <ion-option value="2026">2026</ion-option>
      <ion-option value="2027">2027</ion-option>
      <ion-option value="2028">2028</ion-option>
      <ion-option value="2029">2029</ion-option>
      <ion-option value="2030">2030</ion-option>
      <ion-option value="2031">2031</ion-option>
      <ion-option value="2032">2032</ion-option>
      <ion-option value="2033">2033</ion-option>
      <ion-option value="2034">2034</ion-option>
      <ion-option value="2035">2035</ion-option>
      <ion-option value="2036">2036</ion-option>
      <ion-option value="2037">2037</ion-option>
      <ion-option value="2038">2038</ion-option>
    </ion-select>

  </ion-item>
  <ion-item *ngIf="mode=='cdcard'">
    <ion-input type="text" placeholder="NAME ON CARD"></ion-input>
  </ion-item>

  <!--
  <ion-item *ngIf="mode=='netbanking'">


    <ion-input type="number" placeholder="User ID"></ion-input>
  </ion-item>
  <ion-item *ngIf="mode=='netbanking'">


    <ion-input type="password" placeholder="password"></ion-input>
  </ion-item>
  -->
  <ion-item *ngIf="mode=='PIN'">
    <ion-label text-wrap>Please enter the 4 Digit Pin sent to your mobile Number and Email</ion-label>

  </ion-item>
  <ion-item *ngIf="mode=='PIN'">
    <ion-input type="password" placeholder="PIN"></ion-input>
  </ion-item>

<ion-item *ngIf="mode=='PIN'">
  <div style="text-align: center" >
  <p text-wrap style="font-size: small; font-weight: 100;">
      By clicking on 'Proceed' you confirm that you authorize us to debit $1/Month from your account.
  </p></div>
</ion-item>
  <ion-item *ngIf="mode=='cdcard'">
    <button (click)="onCancelClick()" ion-button color="light">Cancel</button>

    <button (click)="onProceedClick()" ion-button color="secondary">Proceed</button>
  </ion-item>

  <!--<ion-item *ngIf="mode=='netbanking'">
    <button  (click)="onCancelClick()" ion-button color="light">Cancel</button>

    <button (click)="onProceedClick()" ion-button color="secondary">Proceed</button>
  </ion-item>-->
  <ion-item *ngIf="mode=='PIN'">
    <button (click)="onCancelClick()" ion-button color="light">Cancel</button>

    <button (click)="thanksmsg()" ion-button color="secondary">Proceed</button>
  </ion-item>

 <ion-item *ngIf="mode=='netbanking'">
    
      <div style="text-align: center">
        <!-- <img  (click)="onCancelClick()" style=" width: 30px; height: 30px; " src="assets/icon/leftarrow.png" />-->
         <strong> Choose a Bank</strong>
       </div>
       </ion-item>

  <ion-grid *ngIf="mode=='netbanking'">
    <ion-row>
      <ion-col  class="card">
        <div (click)="onBOAClick()" class="image-container">
          <img src="assets/imgs/boalogo1.jpg" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div (click)="onCitiClick()" class="image-container">
          <img src="assets/imgs/cititile.png" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/jpmgtile.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/morganstile.png" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/goldstile2.png" />
        </div>
      </ion-col >
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/wftile.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/bny.jpg" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/tdbanktile.jpg" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/usaa.png" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/usbank.png" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/pnctile.jpg" />
        </div>
      </ion-col>
      <ion-col  class="card">
        <div class="image-container">
          <img src="assets/imgs/capitalone.jpg" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




<ion-content style="background-color: #dc1431;" *ngIf="screen=='BOA'">

  <div id="BOALogin" *ngIf="BOALoginvisible" class="item-container item-container-bot">
    <div style=" /* position: absolute; top: 15%;*/ margin: auto; margin-top: 30%; text-align: center;padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
      class=" item talk-bot left-guess">
      <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;" src="assets/imgs/boa-logo-svg.svg">
      <div style=" background-color: #dc1431;">
        <div style="text-align: center;border: 1px,solid;width: 354.641;height: 250px;width: 390.641;padding-top: 17px;">
          <input type="text" placeholder="Online ID" style="    height: 40px;    font-size: 18px;    width: 250px;">
          <br>
          <br>
          <input type="password" placeholder="password" style="    font-size: 18px;   height: 40px;    width: 250px;">
          <br>
          <br>
          <button (click)="addBotBOASignin()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style=" cursor: pointer; background-color:#0052C2;    border: 1px solid #fff;    color: #fff;height: 40px;    padding: 5px 25px;    text-align: center;   white-space: nowrap;    width: 250px;">
            <span>Sign In</span>
          </button>
          <br>
          <br>
          <button (click) ="closeing()"  class="btn btn--primary btn--block btn--medium" type="submit" style="cursor: pointer;background-color:  #DC1431;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 250px;">
            <span>Close</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="tansferboa" *ngIf="BOAlinkvisible" class="item-container item-container-bot">
    <div style="  /* position: absolute; top: 15%; */ text-align: center ;margin: auto; margin-top: 30%; padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
      class="item talk-bot left-guess">
      <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;"
        src="assets/imgs/boa-logo-svg.svg">
      <div style=" background-color: #dc1431;">
        <div style="text-align: center;border: 1px,solid;width: 354.641;height: 230px;width: 390.641;">
          <br>
          <label style="color: white;font-weight: 700;font-size: large;">Account :</label>         
          <br>
          <hr>
          <select style="          color: black;          background-color: white;      ">
              <option value="0">select</option>
              <option value="1">Saving - 1254845154545</option>
              <option value="2">Checking - 5547894516655</option>
             
            </select>
          <br>
          <br>
          <button (click)="addBotBOAproceed()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn"
            style="cursor: pointer;background-color: #0052C2 ;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
            <span>proceed</span>
          </button>
          <br>
          <br>
          <button (click)="closeing()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style="cursor: pointer;background-color:#dc1431;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="tansferboa" *ngIf="BOApinvisible" class="item-container item-container-bot">
      <div style=" text-align: center ; /* position: absolute; top: 15%; */ margin: auto; margin-top: 30%; padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
        class="item talk-bot left-guess">
        <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;"
          src="assets/imgs/boa-logo-svg.svg">
        <div style=" background-color: #dc1431;">
          <div style="text-align: center;border: 1px,solid;width: 354.641;height: 270px;width: 390.641;">
            <br>
            <label style="color: white;font-weight: 100;font-size: large;">
              Please enter the 4 Digit Pin sent to your mobile Number and Email :</label>         
            <br>
            <hr>
            <input type="password" id="pin" style="    height: 20px;    font-size: 15px;    width: 100px;">
            <br>
            <br>
            <label style="color: white;font-weight: 100;font-size: small;">
                By clicking on 'Link' you confirm that you authorize us to debit $1/Month from your account.</label>  
                <br>
            <button (click)="thanksmsg()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn"
              style="cursor: pointer;background-color: #0052C2 ;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
              <span>Link</span>
            </button>
            <br>
            <br>
            <button (click)="closeing()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style="cursor: pointer;background-color:#dc1431;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
              <span>Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>


</ion-content>



<ion-content style="background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);
" *ngIf="screen=='CITI'">
    <div id="BOALogin" *ngIf="CITILoginvisible" class="item-container item-container-bot">
        <div style=" /* position: absolute; top: 15%;*/ margin: auto; margin-top: 30%; text-align: center;padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
          class=" item talk-bot left-guess">
          <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;" src="assets/imgs/citibank.png">
          <div style=" background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);">
            <div style="text-align: center;border: 1px,solid;width: 354.641;height: 250px;width: 390.641;padding-top: 17px;">
              <input type="text" placeholder="Online ID" style="    height: 40px;    font-size: 18px;    width: 250px;">
              <br>
              <br>
              <input type="password" placeholder="password" style="    font-size: 18px;   height: 40px;    width: 250px;">
              <br>
              <br>
              <button (click)="addBotCITISignin()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style=" cursor: pointer; background-color:red;    border: 1px solid #fff;    color: #fff;height: 40px;    padding: 5px 25px;    text-align: center;   white-space: nowrap;    width: 250px;">
                <span>Sign In</span>
              </button>
              <br>
              <br>
              <button (click)="closeing()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style="cursor: pointer;background-color:  #0052C2;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 250px;">
                <span>Close</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="tansferboa" *ngIf="CITIlinkvisible" class="item-container item-container-bot">
        <div style=" text-align: center ; /*position: absolute; top: 15%;*/ margin: auto; margin-top: 30%; padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
          class="item talk-bot left-guess">
          <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;"
          src="assets/imgs/citibank.png">
          <div style=" background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);">
            <div style="text-align: center;border: 1px,solid;width: 354.641;height: 230px;width: 390.641;">
              <br>
              <label style="color: white;font-weight: 700;font-size: large;">Account :</label>         
              <br>
              <hr>
              <select style="          color: black;          background-color: white;      ">
                  <option value="0">select</option>
                  <option value="1">Saving - 1254845154545</option>
                  <option value="2">Checking - 5547894516655</option>
                 
                </select>
              <br>
              <br>
              <button (click)="addBotCITIproceed()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn"
                style="cursor: pointer;background-color: red ;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
                <span>proceed</span>
              </button>
              <br>
              <br>
              <button (click)="closeing()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style="cursor: pointer;background-color:#0052C2;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="tansferboa" *ngIf="CITIpinvisible" class="item-container item-container-bot">
          <div style=" text-align: center ; /*position: absolute; top: 15%;*/margin: auto; margin-top: 30%; padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;"
            class="item talk-bot left-guess">
            <img id="boa" style="/* width: 318px; *//* height: 55px; *//* width: 417px; */height: 101.125; padding-bottom: 10px;"
            src="assets/imgs/citibank.png">
            <div  style=" background: linear-gradient(180deg,#00bdf2,#00b3f0 18%,#0066b3 77%,#004985);">
              <div style="text-align: center;border: 1px,solid;width: 354.641;height: 270px;width: 390.641;">
                <br>
                <label style="color: white;font-weight: 100;font-size: large;">
                  Please enter the 4 Digit Pin sent to your mobile Number and Email :</label>         
                <br>
                <hr>
                <input type="password" id="pin" style="    height: 20px;    font-size: 15px;    width: 100px;">
                <br>
                <br>
                <label style="color: white;font-weight: 100;font-size: small;">
                    By clicking on 'Link' you confirm that you authorize us to debit $1/Month from your account.</label>  
                    <br>
                <button (click)="thanksmsg()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn"
                  style="cursor: pointer;background-color: red ;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
                  <span>Link</span>
                </button>
                <br>
                <br>
                <button (click)="closeing()" class="btn btn--primary btn--block btn--medium" type="submit" id="signIn" style="cursor: pointer;background-color:#0052C2;border: 1px solid #fff;color: #fff;height: 40px;padding: 5px 25px;text-align: center;white-space: nowrap;width: 200px;">
                  <span>Cancel</span>
                </button>
              </div>
            </div>
          </div>
        </div>
</ion-content>


<ion-content *ngIf="screen=='thanks'">
    <div style=" text-align: center ; position: absolute; top: 15%; padding: 10px;border-radius: 0;background-color: #ffffff;width: 300px;" class="row green">
        <img      style="width: 25px; height: 25px;"   src="assets/imgs/tick.png">
        <br>
     
        <ion-label wrap-text >
          we have now linked your account.
          <p style="color:#0066b3">Please wait while we are redirecting you to SimpliFid</p>
        </ion-label>
      
        </div>    
   
  </ion-content>


    <!--    
          <div (click)="netbanking()" style="display: flex" >
        <img style=" width: 40px; height: 40px; " src="assets/icon/bank.png" />
        <strong style="padding-top: 12px;padding-left: 10px; width: 75%;  " > Bank Wire </strong>
        <img style=" width: 40px; height: 40px; " src="assets/icon/rarrow.png" />
      </div> 
      <ion-item *ngIf="mode==''">
          <div (click)="cdcard()"   style="display: flex" >
              <img style=" width: 40px; height: 40px; " src="assets/icon/card.png" />
              <strong style="padding-top: 12px;padding-left: 10px; width: 75%;" > Credit/Debit Card  </strong>
              <img style=" width: 40px; height: 40px; " src="assets/icon/rarrow.png" />
            </div> 
      </ion-item>
      <ion-item *ngIf="mode==''">
          <div  style="display: flex" >
              <img style=" width: 40px; height: 40px; " src="assets/icon/paypal.png" />
              <strong style="padding-top: 12px;padding-left: 10px; width: 75%;"> PayPal </strong>
              <img style=" width: 40px; height: 40px; " src="assets/icon/rarrow.png" />
            </div> 
        </ion-item>
        <ion-item *ngIf="mode==''">
            <div  style="display: flex" >
                <img style=" width: 40px; height: 40px; " src="assets/icon/applepay.png" />
                <strong style="padding-top: 12px;padding-left: 10px; width: 75%;"> Apple Pay  </strong>
                <img style=" width: 40px; height: 40px; " src="assets/icon/rarrow.png" />
              </div> 
          </ion-item>
          <ion-item *ngIf="mode==''">
              <div  style="display: flex" >
                  <img style=" width: 40px; height: 40px; " src="assets/icon/gpay.png" />
                  <strong style="padding-top: 12px;padding-left: 10px; width: 75%;"> Google Pay  </strong>
                  <img style=" width: 40px; height: 40px; " src="assets/icon/rarrow.png" />
                </div> 
            </ion-item>
          -->